<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}"></head>
<title>Import Hosts</title>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>
<div class="container mt-4">
    <h3>Checkmk Hosts</h3>
    <form th:action="@{/hosts/import}" method="post" onsubmit="return debugFormSubmission()">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" onclick="toggleSelectAll(this)"></th>
                <th>Host Name</th>
                <th>IP Address</th>
                <th>Creation Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="host : ${checkmkHosts}">
                <td><input type="checkbox" name="selectedHostIds" th:value="${host.hostName}" th:disabled="${host.imported}"></td>
                <td th:text="${host.hostName}"></td>
                <td th:text="${host.ipAddress}"></td>
                <td th:text="${host.creationDate}"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>

    <h3 class="mt-4">Database Hosts</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Host Name</th>
            <th>IP Address</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="host : ${dbHosts}">
            <td th:text="${host.hostName}"></td>
            <td th:text="${host.ipAddress}"></td>
            <td th:text="${host.creationDate}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${message}">
        <div class="alert alert-success" th:text="${message}"></div>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
