<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}"></head>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>
<div class="container mt-4">
    <h3>Checkmk Hosts</h3>
    <form th:action="@{/hosts/import}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" id="selectAllCheckbox"></th>
                <th>Host Name</th>
                <th>IP Address</th>
                <th>Creation Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="host : ${checkmkHosts}" th:if="${host != null}">
                <td><input type="checkbox" name="selectedHostIds" th:value="${host.hostName}" th:disabled="${host.imported}"></td>
                <td th:text="${host.hostName}"></td>
                <td th:text="${host.ipAddress}"></td>
                <td th:text="${host.creationDate}"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" id="importButton" class="btn btn-primary" disabled>Import</button>
    </form>

    <h3 class="mt-4">Database Hosts</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Host Name</th>
            <th>IP Address</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="host : ${dbHosts}">
            <td th:text="${host.hostName}"></td>
            <td th:text="${host.ipAddress}"></td>
            <td th:text="${host.creationDate}"></td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
