<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}"></head>
<title>Service Critical - {{ hostName }}</title>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>
<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Services Critical for Host: <span th:text="${hostName}"></span></h3>
        <button onclick="goBack()" class="btn btn-secondary">Go Back</button>
    </div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Service State</th>
        <th>Service Description</th>
        <th>Plugin Output</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through services critical data -->
    <tr th:each="service : ${servicesCritical}">
        <td class="crit-col" th:text="${service.serviceState}"></td>
        <td th:text="${service.serviceDescription}"></td>
        <td th:text="${service.pluginOutput}"></td>
    </tr>
    </tbody>
</table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
