<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Host Life Cycle Management</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/hosts}">Hosts</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/hosts/import}">Import Hosts</a></li>
        </ul>
    </div>
</nav>
</html>
