
.badge-danger {
color: red;
}


/* Navbar styling */
        .navbar {
            margin-bottom: 20px;
            background-color: #343a40 !important;

            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
        }

        .navbar-brand, .nav-link {
            color: #ffffff !important;
            margin-right: 10px;
            margin-left: 10px;
        }

        .navbar-brand:hover, .nav-link:hover {
            color: #f0ad4e !important;
        }

.form-control{
            margin-bottom: 10px;
}

/* General Table Styling */
.table-container {
    margin: 20px auto;
    width: 95%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px !important;
    text-align: center;
    border-width: 7px !important;
    font-size: 15px !important;
      box-shadow: none !important;
}

/* Header Styles */
th {
    background-color: #4A4A4A !important;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Row and Column Styles */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Status Columns */
.status-up {
    color: green !important;
    font-weight: bold;
}

.status-down {
    color: red !important;
    font-weight: bold;
}

.status-unknown {
    color: orange;
    font-weight: bold;
}

/* Service Columns */
.ok-col {
    background-color: #179107 !important;
    font-weight: bold;
}

.warn-col {
    background-color: #C47128 !important;
    font-weight: bold;
}

.crit-col {
    background-color: #CE0000 !important;
    font-weight: bold;
}

/* Action Buttons */
.action-buttons .btn {
    padding: 6px 12px;
    font-size: 13px;
    margin-right: 5px;
    border-radius: 5px;
}

.btn-update {
    background-color: #007BFF;
    color: white;
    border: none;
}

.btn-delete {
    background-color: #CE0000;
    color: white;
    border: none;
}

a {
  text-decoration: none !important;
}

