<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: commonHead}"></head>
    <title>Login</title>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>
<div class="login-container">
    <div class="login-box">
        <h2 class="text-center">Sign In</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Email address</label>
                <input type="email" id="username" name="username" class="form-control" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-submit btn-block">Sign In</button>
            </div>
            <div th:if="${param.error}" class="form-group text-center">
                <p class="error">Invalid username or password</p>
            </div>
            <div th:if="${param.logout}" class="form-group text-center">
                <p class="message">You have been logged out.</p>
            </div>
        </form>
    </div>
</div>
</body>
</html>
