<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}"></head>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>

<div class="container mt-4">
    <h3>All Notifications</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Date Received</th>
            <th th:if="${isAdmin}">Status</th>
            <th th:if="${isAdmin}">Created By</th>
            <th th:if="${isAdmin}">Host Name</th>
            <th th:if="${isAdmin}">Assigned User</th>
            <th th:if="${isAdmin}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td th:text="${notification.title}"></td>
            <td th:text="${notification.message}"></td>
            <td><span th:text="${#strings.replace(#strings.substring(notification.createdAt, 0, 16), 'T', ' ')}"></span></td>
            <td th:if="${isAdmin}" th:text="${notification.read ? 'Read' : 'Unread'}"></td>
            <td th:if="${isAdmin}" th:text="${notification.createdBy}"></td>
            <td th:if="${isAdmin}" th:text="${notification.hostName}"></td>
            <td th:if="${isAdmin}" th:text="${notification.userFullName}"></td>
            <td th:if="${isAdmin}">
                <form th:action="@{/notifications/delete/{id}(id=${notification.id})}" method="post">
                    <button class="btn btn-delete btn-sm" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>