<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}"></head>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>

<div class="container mt-4">
    <h3>All Notifications</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Date Received</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td class="title" th:text="${notification.title}"></td>
            <td th:text="${notification.message}"></td>

            <td>
            <span th:utext="${#strings.substring(notification.createdAt,0,16)}"></span>
                    </td>
            <td th:text="${notification.read ? 'Read' : 'Unread'}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>